.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4vh 5vw;
  width: 100%;
}

.my-rockets-container,
.my-missions-container {
  width: 48.5%;
}

.my-rockets-table,
.my-missions-table {
  width: 100%;
  border-collapse: collapse;
}

.table-title th {
  padding: 10px;
  text-align: start;
}

.table-body tr td {
  border-bottom: 1px solid #ededed;
  text-align: start;
  padding: 13px;
}

.my-rockets-title,
.my-missions-title {
  font-size: 24px;
}
